# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# typescript
tsconfig.tsbuildinfo

# production
/build

# misc
.DS_Store

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env
.env.local
.env*.local

# template
template.md
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/


# zed IDE
/.zed
.vercel

# claude folders
/.claude
/design_handoff_blog_redesign
/docs

