/* footer */

ul.footer {
    padding: 0px;
    list-style-type: none;
    text-align: center;
    font-size: 35px;
}

li.blog {
    display: inline;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
}

.footer {
    font-size: 35px;
}

.copyright {
    text-align: center;
}

.icon {
    width: 36px;
    height: 36px;
    display: inline;
}

.icon:hover {
    filter: invert(27%) sepia(100%) saturate(7154%) hue-rotate(210deg)
        brightness(99%) contrast(107%);
}
