/* header */

a:link.blog {
    text-decoration: none;
    text-shadow: none;
    color: black;
}

a:visited.blog {
    text-decoration: none;
    text-shadow: none;
    color: black;
}

a:hover.blog {
    text-decoration: underline;
}

.icon {
    padding-left: 9px;
    padding-right: 9px;
    padding-top: 3px;
    margin-top: 3.5px;
}

.header {
    display: flex;
    justify-content: center;
    flex-direction: row;
    height: 45px;
    font-size: 30px;
    padding: 10px 0px 0px 0px;
    z-index: 1;
    width: auto;
    top: 0px;
    margin: 0px 0px 50px 0px;
}

.headerItem {
    padding-left: 9px;
    padding-right: 9px;
    font-size: 2rem;
    line-height: 1.3;
    font-weight: 800;
    letter-spacing: -0.05rem;
}