/* header */

.blogTitle {
    font-size: 1.3rem;
    display: inline-block; /* Keep the element inline */
    background: linear-gradient(90deg, #ff005e, #7303c0, #ff005e);
    background-size: 400% 400%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradient-animation 10s ease infinite;
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.headerItem:first-of-type {
    margin-right: auto; /* Push the links to the right */
}

a:link.blog {
    text-decoration: none;
    text-shadow: none;
    color: black;
}

a:visited.blog {
    text-decoration: none;
    text-shadow: none;
    color: black;
}

a:hover.blog {
    text-decoration: underline;
}

.header {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 45px;
    padding: 10px 0px 0px 0px;
    z-index: 1;
    width: auto;
    top: 0px;
    gap: 0px;
    margin: 0px 0px 25px 0px;
    overflow: visible;
    position: relative;
}

.headerItem {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1.5rem;
    line-height: 1.3;
    font-weight: 800;
    letter-spacing: -0.05rem;
}

@media (min-width: 768px) {
    .headerItem {
        font-size: 1.7rem;
        padding-left: 9px;
        padding-right: 9px;
    }

    .blogTitle {
        font-size: 1.7rem;
    }
}
