.signature {
    margin: 10px 10px 10px 10px;
    padding: 10px 20px 10px 20px;
}

.format {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.image {
    border-radius: 3rem;
    height: auto;
    width: 11rem;
    max-width: 100%;
    padding: 4px;
}

.info {
    font-style: italic;
    line-height: 1.6;
    padding: 10px 10px 3px 15px;
    font-size: 0.9rem;
}

.link {
    line-height: 1.6;
    padding: 19px;
    font-size: 0.9rem;
}

.line {
    color: #0070f3;
}

.embeddableButtondownForm input {
    display: inline-block; 
    border-radius: 0.375rem; 
    border: 1px solid #d1d5db;
    height: 40px;
    width: 225px;
    margin: 9px;
  }
  
  .embeddableButtondownForm input[type="email"],
  .embeddableButtondownForm input[type="text"] {
    margin-bottom: 0.5rem;
    font-size: x-large;
  }
  
  .embeddableButtondownForm input[type="submit"] {
    background-color: #ffffff;
    color: black;
    width: 177px;
    height: 50px;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    box-shadow: 10px 10px;
    word-wrap: break-word;
    text-align: center;
    text-decoration: none;
    font-size: 26px;
    font-weight: bold;
    /* allows for smoother animation */
    transform-origin: center;
    transition-duration: 150ms;
  }

  .embeddableButtondownForm input[type="submit"]:hover {
    /* raise the button up */
    transform: scale(1) translateY(-3px);
    box-shadow: 15px 15px;
    animation-duration: 7000ms;
    text-decoration: none;
}

.embeddableButtondownForm input[type="submit"]:active {
    /* lower the button down */
    box-shadow: 5px 5px;
    transform: scale(0.99) translateY(-1px);
}
  
  .embeddableButtondownForm a {
    text-decoration: underline; 
    display: block; 
    margin-top: 0.5rem;
  }

/* tablet/desktop design */
@media (min-width: 768px) {
    .format {
        display: flex;
        flex-direction: row;
        align-items: center;
        align-content: center;
    }

    .image {
        border-radius: 3rem;
        height: auto;
        width: 30rem;
        max-width: 100%;
        padding: 4px;
    }

    .info {
        font-style: italic;
        line-height: 1.6;
        padding: 10px 10px 3px 15px;
        font-size: 1.0rem;
    }

    .link {
        line-height: 1.6;
        padding: 19px;
        font-size: 0.9rem;
    }
}