html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    line-height: 1.6;
    font-size: 18px;
    -webkit-font-smoothing: antialiased;
    /*ensures the page to be at least as tall as 100% of the viewport height */
    min-height: 100vh;
    /*prevents the page from being too narrow to be readable*/
    min-width: 300px;
    /*prevents the page from scrolling horizontally while preserving the usual vertical scroll */
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
}

a {
    color: #0070f3;
    text-decoration: none;
}

h1 {
    position: relative;
    overflow: hidden;
    padding-bottom: 5px;
}

h1::after {
    content: "";
    height: .1em;
    background: #0070f3;
    width: 100%;
    margin-left: -100%;
    position: absolute;
    bottom: 0;
}

a:hover {
    text-decoration: underline;
}

img {
    max-width: 100%;
    display: block;
}

i {
    color: black;
}


i:hover {
    color: #0070f3;
}
/* displaying code */
pre {
    background: #ededed;
    border: 1px solid #ddd;
    border-left: 3px solid #f36d33;
    color: #666;
    page-break-inside: avoid;
    font-family: monospace;
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1em 1.5em;
    display: block;
    word-wrap: break-word;
}

/* displaying quotes */
blockquote {
    font-size: 15px;
    margin: 50px auto;
    font-style: italic;
    color: #555555;
    padding: 1.2em 30px 1.2em;
    border-left: 3px solid #78c0a8;
    line-height: 1.6;
    position: relative;
    background: #ededed;
}

/* customising font awesome icon */
.fa-thumbtack {
    transform: rotate(38deg) !important;
}