.content {
    /* both right and left classes are flexbox items */
    display: flex;
    flex-direction: column-reverse;
}

.right {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left {
    max-width: 20rem;
}

.left h1 {
    font-size: 25px;
}

.left p {
    font-size: 20px;
}

.name {
    display: inline;
    color: #ffc93c;
    text-shadow: 4px 1px #155263;
    font-size: inherit;
}

.indexHeader {
    font-size: 21px;
}

.known {
    text-align: left;
    display: block;
    color: #666;
    font-style: italic;
}

.image {
    border-radius: 25px;
    width: auto;
    height: auto;
}

.icon {
    width: 36px;
    height: 36px;
    display: inline;
    vertical-align: sub;
}

.emoji {
    font-size: xx-large;
}

.gradientText {
    display: inline-block; /* Keep the element inline */
    background: linear-gradient(90deg, #ff005e, #7303c0, #ff005e);
    background-size: 400% 400%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradient-animation 10s ease infinite;
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

/* tablet/desktop design */
@media (min-width: 768px) {
    .content {
        /* makes the layout vertical */
        flex-direction: row;
        /* makes the content centered on the main axis (vertical) */
        justify-content: center;
    }

    .left h1 {
        font-size: 36px;
    }

    .right {
        order: 2;
        width: 100rem;
    }

    .left {
        max-width: none;
    }

    .image {
        width: auto;
        height: auto;
    }

    .known {
        font-size: 18px;
    }

    .indexHeader {
        font-size: 36px;
    }
}

@media (min-width: 1024px) {
    .left {
        flex-grow: 1;
        flex-shrink: 1;
        width: 1900px;
    }

    .left h1 {
        font-size: 2.2rem;
    }

    .image {
        width: auto;
        height: auto;
        transform: rotate(1.5deg);
    }
}
